.authcontainer{
    width: 100%;
}
.authmenu{
    width: 100%;
    padding: 15px;
    background-color: #026c90;
    display: flex;
    align-items: center;
    align-content: center;justify-content: center;
}

.authmenuright{
    width: 50%;
    /* background-color: #026c90; */
}
.authmenurightinside{
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
}
.authflex{
    width: 40%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.authfleximage{
    width: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
.authfleximage img{
    width: 30%;
}
.authflexlink{
    width: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    color: #fff !important;
}
.authmenuleft{
    width: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
}

.authmenumain{
    display: flex;
    width: 100%;
    min-height: 90vh;
}
.autmenumainmiddle{
    width: 1%;
    background-color: rgba(202, 202, 202, 0.082);

}
.authmenumainmenu{
    /* display: flex; */
    width: 15%;
    align-items: center   ;
    align-content: center;
    justify-content: top;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    background-color: #e4f3f8;
    border-top-right-radius: 35px;
}
.authmenumaincontent{
    /* display: flex; */
    width: 84%;
    border-top-left-radius: 35px;
    background-color: rgb(195, 197, 197);
    padding-top: 0px;
}
.authmenumainmenu ul{
    width: 100%;
}

.authmenumainmenu ul li{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: #026c90 solid 1px;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    align-content: center;
    justify-content: center; display: flex;
    font-weight: bolder;
    margin-bottom: 10px;
}

.authmenumainmenu ul li:hover{
    background-color: #fff;
    color: #026c90;
}





/* LES COULEURS DE LI*/

.libleu{
    background-color: #026c90;
    color: #fff;
}


