.dashcontainer{
    width: 100%;
}
.dashsection{
    width: 100%;
    background-color: rgb(234, 233, 231);
    padding-top: 5px;
    /* min-height: 70vh; */
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    /* font-size: 20px; */

}
.dashhead{
    width: 100%;

}
.dashhead img{
    width: 100%;
    margin-top: 20px;
}