.dashcontainer{
    width: 100%;
}
.dashsection{
    width: 100%;
    /* background-color: rgb(234, 233, 231); */
    padding-top: 5px;
    /* min-height: 70vh; */
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    /* font-size: 20px; */

}
.dashhead{
    width: 100%;

}
.dashhead img{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 0px;
    /* border-top-left-radius: 35px; */
}



.dashform{
    width: 100%;
}
.dashformdivs{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    justify-content:center;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: #000 solid 1px;
    background-color: rgb(255, 255, 255);
}
.dashformdivsh{
    width: 50%;
    /* margin-left: auto;
    margin-right: auto; */
    align-items: center;
    align-content: center;
    justify-content:center;
    display: flex;
}
.dashformdiv{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.dashformdiv label{
    width: 20%;
}
.dashformdiv input{
    width: 70%;
    border: none;
}
.dashformdiv select{
    width: 70%;
    border: none;
}

.enregistrer{
    align-content: center;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    width: 100%;
    color: #fff;
    font-weight: bolder;
}
.button{
    background-color: #026c90;
    padding: 5px;

}
.button:hover{
    background-color: #ffffff;
    padding: 5px;
    color: #000;

}