@media screen and (min-width: 300px) and (max-width: 767px) {
    .guesttopheadcontenright{
        display: none;
    }
    .guesttopheadcontenleft{
        width: 100%;
    }
    .lefticon{
        font-size: 30px;
        /* color: #f1be04; */
    }
    .guesttophead2{
        width: 100%;
        height: 70px;
        align-items: center;
        align-content: center;
        justify-content: center;
        display: flex;
        background-color: #d0d0d0;
    }
    .guesttophead2contentleft{
        width: 20%;
        align-items: center;
        align-content: center;
        justify-content: center;
        display: flex;
    }
    .guesttophead2contentleft img{
        width: 60%;
        cursor: pointer;
    }
    .guesttophead2contentmiddle{
        width: 20%;
        align-items: center;
        align-content: center;
        justify-content: center;
        display: flex;
        text-align: center;
        /* border: #000000 solid 1px; */
    }
    .guesttophead2contentmiddleic{
        align-items: center;align-content: center;justify-content: center;display: flex;
        font-weight: bolder;
        text-align: center;
        font-size: 20px;
        padding: 5px;
        color: #026c90;
        border: none;
        /* border-radius: 10px; */
        cursor: pointer;
    }
    .guesttophead2contentright{
        /* border: #000000 solid 1px; */
        /* padding: 3px; */
        width: 50%;
        align-items: center;
        align-content: center;
        justify-content: right;
        /* text-align: right; */
        display: flex;
        /* flex-direction: column; */
        cursor: pointer;
        font-size: 10px;
    }
    .guesttophead2contentrightbutton{
        background-color: #f1be04;
        color: #ffffff;
        width: 45%;
        padding: 3px;
        /* font-size: 15px; */
        border-radius: 0;
        align-items: center;align-content: center;justify-content: center;display: flex;
        font-weight: bolder;
        
    }
    .guesttophead2contentrightbutton2{
        background-color: #026c90;
        /* margin-right: 5px; */
        color: #fff;
        margin-right: 5px;
        width: 45%;
        padding: 3px;
        border-radius: 0;
        align-items: center;align-content: center;justify-content: center;display: flex;
        font-weight: bolder;
    }

    .guestnewmenu{
        position: absolute;
        width: 100%;
        background-color: #e3e1e1b7;
        padding: 30px;
        border-bottom: #f1be04 solid 2px;
    }
    .newmenunav{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        min-height: 20vh;
    }
    .newmenunav ul{
        align-items: center;
        align-content: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .newmenunav ul li{
        width: 90%;
        font-weight: bolder;
        font-size: 15px;
        height: 5vh;
        border: #ffffff solid 1px;
        border-radius: 0px;
        align-items: center;
        align-content: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
        margin-bottom: 10px;
        /* margin-right: ; */
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
}


